*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



h1{
   background-color: pink;
   border: 10px solid red;
   margin:10%;


}
#box-1{
   background-color: aqua;
   padding: 4vw 171vh;
   margin:10%;
}


#box-2{
   background-color: yellow;
   border:10px solid pink ;
   padding:4vw 4vh ;
   margin: 10%;
}
.blue{
   color:blue;
}
.green{
   color:green;
}
.purple{
   color: purple;
}



